@import "tailwindcss";

html, body{
  background-color: #162456;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 100%;
  background: linear-gradient(180deg, black, blue);

  height: 100%;
}

.default-button-green{
  @apply m-auto flex flex-row justify-center items-center text-white hover:cursor-pointer hover:bg-white hover:border-green-700 hover:border-solid border-2 hover:text-green-500 transition-all duration-300 m-auto mt-3 px-5 p-3 bg-green-700/70 rounded-full;
}

.default-button-green-disabled{
  @apply flex flex-row justify-center items-center text-white hover:cursor-not-allowed transition-all duration-300 m-auto mt-3 px-5 p-3 bg-green-700/40 rounded-full;
}

.default-button-red{
  @apply flex flex-row justify-center items-center text-white hover:cursor-pointer hover:bg-white hover:border-red-700 hover:border-solid border-2 hover:text-red-500 transition-all duration-300 m-auto mt-3 px-5 p-3 bg-red-700/70 rounded-full;
}